[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
scriptinep3 = "*"
pyyaml = "*"
coverage = "*"
python-coveralls = "*"

[requires]
python_version = "3.7"
